header.header
	input#query.input(type="url", name="weibo", placeholder="http://weibo.com/xxxxxxxxxx/xxxxxxxxx", required)
	button#search.button.button--small(type="button", style="margin-left:4px;") lookup weibo