header.header
	form
		input#query.input(type="url", name="weibo", placeholder="http://weibo.com/xxxxxxxxxx/xxxxxxxxx")
		button#search.button.button--small(type="submit", style="margin-left:4px;") go

	.login
		small
			a(href="#{user.t_url}", title="Go to your profile")
				img(src="#{user.profile_image_url}", style="width:30px;height:30px;margin-right:1em;")
				| @#{user.screen_name}
			|  | 
			a(href="/logout", title="logout") Logout