extends templates/master

block title
	| #{title}

block css
	//- link(rel="stylesheet", href="http://www.apple.com/ac/globalheader/1.0/styles/globalheader.css")
	//- link(rel="stylesheet", href="http://www.apple.com/live/2014-sept-event/styles/2014-sept-event.built.css")

block content

	include includes/header

	.container

		//- this is where we're going to load the tiles into
		section#tiles

	include includes/footer


block script
	//- Change to your app key!
	//- Darryl's = 3294558148
	//- Jim's = 109545286
	//- Remove debug=true in production
	script(src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=109545286&debug=true")
	script(src="/scripts/weiboTest.js")