extends templates/master

block title
	| #{user.screen_name} : Weibo API Test

block content

	include includes/header

	.container

		section

			.tile.tile-search-result
				#search-result

				.share-buttons.hidden
					button.button.button-share.button-share--reply Reply
					button.button.button-share.button-share--forward Forward
					button.button.button-share.button-share--like Like


			.tile.tile--naked#request-details

block script
	script.

		function updateUI(obj) {

			//- update search results
			var pic = obj.status.original_pic
			$("#search-result").html("<label>Weibo ID:</label>" +
				"<div>" + obj.status.id + "</div>" +
				"<label>User name:</label>" +
				"<div>" + obj.status.user.screen_name + "</div>" +
				"<label>User ID:</label>" +
				"<div>" + obj.status.user.id + "</div>" +
				"<label>User URL:</label>" +
				"<a class='block' href='http://weibo.com/" + obj.status.user.id + "' title='go to " + obj.status.user.screen_name + "'s weibo page>http://weibo.com/" + obj.status.user.id + "</a>" +
				"<label>Weibo Content:</label>" +
				"<div>" + obj.status.text + "</div>"
			);
			if(pic) {
				$("#search-result").html($("#search-result").html() +
					"<img src='" + pic + "' alt=''>"
				);
			}

			//- update request details
			var parameters = "";
			for(var item in obj.request.parameters) {
				parameters += item + ": " + obj.request.parameters[item] + "\n";
			}
			$("#request-details").html("<label>Request URL:</label>" +
				"<pre>" + obj.request.url + "</pre>" +
				"<label>Request Type:</label>" +
				"<pre>" + obj.request.type + "</pre>" +
				"<label>Request Parameters:</label>" +
				"<pre>" + parameters + "</pre>");
		}

		$("#search").on("click", function() {
			$(this).prop("disabled", true);
			$(".share-buttons").addClass("hidden");
			$.ajax({
				type: "POST",
				url: "/search",
				data: {
					url: $("#query").val()
				},
				success: function(result) {
					$("#search").prop("disabled", false);
					$(".share-buttons").removeClass("hidden");
					updateUI(result);
				},
				dataType: "json"
			});
		});