extends templates/master

block title
	| #{user.screen_name} : Weibo API Test

block css
	link(rel="stylesheet", href="/bower_components/remodal/dist/jquery.remodal.css")

block content

	include includes/header

	.container

		section

			.tile.tile-search-result
				#search-result Use the search bar above to find a weibo

				.share-buttons.hidden
					button.button.button-share.button-share--reply(data-remodal-target="reply-modal", title="Reply to this weibo") Reply
					button.button.button-share.button-share--forward(title="Forward this weibo") Forward
					button.button.button-share.button-share--like(title="Like this weibo") Like


			.tile.tile--naked#request-details

	//- modal window used for gathering the reply content
	.remodal-bg
		.remodal(data-remodal-id="reply-modal")
			h2 Reply to 
				span.js-posters-name
				| 's weibo:
			textarea#reply-content.textarea
			button.button.button-share.button-share--send-reply Send Reply

block script
	script(src="/bower_components/remodal/dist/jquery.remodal.min.js")

	//- Change to your app key!
	//- Darryl's = 3294558148
	//- Jim's = 109545286
	//- Remove debug=true in production
	script(src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=109545286&debug=true")
	script(src="/scripts/weiboTest.js")