.table
	border				0
	table-layout 		fixed
	width				100%

	td
		padding 		$spacing * 0.5

		&:first-of-type
			width 		20%

	tr:nth-child(odd) td
		background 		#fcfcfc

	td:first-of-type
		font-weight 	600