translate (x,
y) {
  transform: translate(x, y);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #f1c40f;
  color: #222;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit 1;
  font: inherit 2;
  margin: 0 3;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "PingHei";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/PingHei-light.woff") format("woff"), url("fonts/PingHei/v1/PingHei-light.ttf") format("truetype");
  *src: url("");
/* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd.  All rights reserved. */
}
@font-face {
  font-family: "PingHei";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PingHei-text.woff") format("woff"), url("fonts/PingHei/v1/PingHei-text.ttf") format("truetype");
  *src: url("");
/* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd.  All rights reserved. */
}
@font-face {
  font-family: "PingHei";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/PingHei-semibold.woff") format("woff"), url("fonts/PingHei/v1/PingHei-semibold.ttf") format("truetype");
  *src: url("");
/* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd.  All rights reserved. */
}
@font-face {
  font-family: "Myriad Set Pro";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/myriad-set-pro_ultralight.woff") format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight.ttf") format("truetype");
  *src: url("");
/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}
@font-face {
  font-family: "Myriad Set Pro";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.woff") format("woff"), url("fonts/Myriad-Set-Pro/v1/myriad-set-pro_ultralight-italic.ttf") format("truetype");
  *src: url("");
/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}
html,
body {
  font: 300 112.5%/1.65 "PingHei", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-family: "PingHei", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-weight: 200;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
a {
  color: #3498db;
}
a.block {
  display: block;
}
pre {
  font-size: 0.7em;
}
body {
  width: 100%;
}
body:after {
  clear: both;
  content: "";
  display: table;
}
html {
  height: 100%;
}
html,
body {
  background-color: #f9f9f9;
  color: #444;
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container,
section {
  clear: both;
}
.container:after,
section:after {
  clear: both;
  content: "";
  display: table;
}
section {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.9166666666667% -correction;
  *margin: 0 1.0416666666667% -correction;
  overflow: visible;
  padding: 1.5em 0;
}
img {
  height: auto;
  max-width: 100%;
}
.hidden {
  display: none;
}
.button {
  background-color: #2ecc71;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}
.button.active,
.button:active,
.button:focus,
.button:hover {
  background: #25a35a;
}
.button--large {
  font-size: 1.5em;
}
.button--small,
.button-share {
  font-size: 0.75em;
}
.button-share--forward {
  margin: 0 0.75em;
}
.button[disabled] {
  background: #95a5a6;
  cursor: not-allowed;
  opacity: 0.7;
}
.share-buttons {
  margin-top: 1.5em;
  text-align: center;
}
label {
  font-weight: 600;
}
.header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0.75em;
  width: 100%;
}
.header:after {
  clear: both;
  content: "";
  display: table;
}
.header form {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.9166666666667% -correction;
  *margin: 0 1.0416666666667% -correction;
}
@media (min-width: 48em) {
  .header form {
    display: inline;
    float: left;
    overflow: hidden;
    width: 47.9166666666667%;
    margin: 0 1.0416666666667%;
    *width: 47.9166666666667% -correction;
    *margin: 0 1.0416666666667% -correction;
  }
}
.header .login {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.9166666666667% -correction;
  *margin: 0 1.0416666666667% -correction;
  margin-top: 1.5em;
  text-align: right;
}
@media (min-width: 48em) {
  .header .login {
    display: inline;
    float: left;
    overflow: hidden;
    width: 47.9166666666667%;
    margin: 0 1.0416666666667%;
    *width: 47.9166666666667% -correction;
    *margin: 0 1.0416666666667% -correction;
    margin-top: 0;
  }
}
.header .login * {
  vertical-align: middle;
}
.input {
  border: 1px solid #95a5a6;
  box-shadow: none;
  min-width: 75%;
  padding: 0.75em 1.5em;
  vertical-align: top;
}
.tile {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.9166666666667% -correction;
  *margin: 0 1.0416666666667% -correction;
  background: #fff;
  box-shadow: 0 1px 1px rgba(34,34,34,0.2);
  overflow: visible;
  padding: 1.5em;
}
@media (min-width: 48em) {
  .tile {
    display: inline;
    float: left;
    overflow: hidden;
    width: 47.9166666666667%;
    margin: 0 1.0416666666667%;
    *width: 47.9166666666667% -correction;
    *margin: 0 1.0416666666667% -correction;
    overflow: visible;
  }
}
.tile h2 {
  margin-top: 0;
}
.tile--naked {
  background: none;
  box-shadow: none;
}
.tile-search-result label:not(:first-of-type) {
  display: block;
  margin-top: 0.75em;
}
@media print {
  * {
    background: none !important;
    color: #222 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: Gray();
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 00.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0  0  0  1 0'/></filter></svg>");
    filter: grayscale(100%);
  }
  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}
